html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  line-height: 1.5;
}

body {
  background-color: #c9b5ab;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav ul {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
}

nav ul:hover {
  color: #3f1622;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

* {
  font-family: "PT Serif", serif;
  box-sizing: inherit;
}

p:first-of-type {
  font-weight: bold;
}

.p:last-of-type {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

ol {
  font-weight: normal;
  list-style-type: lower-greek; /* Lowercase Greek letters (α, β, ɣ, etc.) */
}

dt {
  font-weight: bold;
}
